{% extends 'base.html' %}
{% block content %}
<br/><br/>
<div class="container pt-2 p-3 my-3 border bg-dark text-white" style="opacity: 0.7; width: 900px" align="right">
<h1 align="center">О сайте</h1>
<h4 align="justify">Разработал веб-приложение CMS с функционалом, позволяющим создавать, редактировать и удалять статьи,
    добавлять их в ленту статей(CRUD), последняя сверху(создание и редактирование реализовано при помощи модального окна, которое содержит html-editor). Хранение данных организовал в СУБД SQlite3.
    Для фронтенда использовал стили bootstrap, бекенд python3(Flask). Реализовано многоуровневое разграничение прав доступа, где 0 самый высокий, а 3 самый низкий(очень долго думал,
    как это реализовать, решение заняло около 1 месяца, разграничил функционал по уровням доступа. Добавлена возможность регистрации пользователей(с помощью Flask-Login), их редактирование и удаление
    (реализовано с помощью модального окна). Так же администратор при желании может изменять уровень доступа. Реализовано скрытие элементов интерфейса, если пользователь не имеет
    необходимого уровня доступа, еще не зарегистрирован или не выполнил вход на сайт.</h4>
</div>


{% endblock %}